.about-us-page {
  height: 100%;
  background-image: url(../img/about-us/about-bg.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 100px;
}

.about-us-page__first-subtitle {
  min-height: 50px;
  color: var(--orange-small-text);
  font-size: 11px;
  text-align: center;
  font-weight: 700;
}

.about-us-page__first-paragraph {
  min-height: 100px;
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 19px;
  margin-top: 15px; 
}

.Date {
  color: var(--orange-small-text);
  margin: 10px;
}

.about-us-page__year {
  justify-content: center;
  margin: 20px;  
}

.about-us-page__title {
  display: block;
}
