@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Vollkorn:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --small-text: #ff5d36;
    --prices-color: rgb(255, 93, 40);
    --title-color: #4B566A;
    --text-light-color: #fff;
    --subtitle-color: rgb(130, 134, 143);
    --background-light-color: #fff;
    --background-dark-color: rgb(75, 86, 106);
    --description-text-color: rgb(155, 158, 164);
    --gift-part-backround-color: rgba(255, 93, 40, 0.8);
    --gift-part-subtitle-color: #f7f6f2;
    --carousel-background-color: #373e4a;
    --buttons-color: #ff5d28;
    --background-gradient: linear-gradient(0deg, rgb(55, 62, 74) 0%, rgba(75, 86, 106, 0) 100%);
    --news-text-color: rgba(247, 246, 242, 0.81);
    --primary-color: #a63a18;
    --secondary-color: #82868f;
    --background-color: #f7f6f2;
    --accent-color: #ff5d28;
    --hover-social-color: #FFA500;
    --welcome-background-color: rgb(247, 246, 242);
    --welcome__header__subtitle: rgb(255, 93, 40);
    --welcome__header__name: rgb(75, 86, 106);
    --welcome__header__text: rgb(130, 134, 143);
    --welcome__footer__button__text: rgb(255, 255, 255);
    --offers-text-color-title-subtext: rgb(255, 93, 40);
    --offers-text-color-title: rgb(75, 86, 106);
    --offers-text-color-title-text: rgb(130, 134, 143);
    --offers-background-color: rgb(247, 246, 242);
    --offers-background-box-color: rgb(250, 250, 250);
    --offers-text-color-subtext: rgb(130, 134, 143);
    --offers-text-color-text: rgb(155, 158, 164);
    --offers-color-button: rgb(255, 93, 40);
    --vacancies-background-color: rgb(247, 246, 242);
    --vacancies__title__subtitle: rgb(255, 93, 40);
    --vacancies__title__name: rgb(75, 86, 106);
    --vacancies__title__text: rgb(130, 134, 143);
    --vacancies__grid__list: rgb(255, 255, 255);
    --vacancies__inner__text__cook: rgb(75, 86, 106);
    --vacancies__inner__text__month: rgb(155, 158, 164);
    --vacancies__inner__svg: rgb(255, 93, 40);
    --vacancies__inner__svg__text: rgb(130, 134, 143);
    --vacancies__inner__button__text: rgb(255, 255, 255);
    --vacancies__inner__button: rgb(255, 93, 40);
    --contacts__title__background: rgb(255, 93, 40);
    --contacts__title__name: rgb(255, 255, 255);
    --contacts__title__text: rgba(247, 246, 242, 0.62);
    --contacts__title__text__location: rgba(247, 246, 242, 0.85);
    --about-us__title__background: rgb(255, 93, 40);
    --about-us__title__name: rgb(255, 255, 255);
    --about-us__title__text: rgba(247, 246, 242, 0.62);
    --about-us__title__text__location: rgba(247, 246, 242, 0.85);
    --footer-divider-color: rgb(130, 134, 143, 0.3);


}

.img {
    display: block;
    width: 100%;
}

body {
    background-color: #FFFFFF;
}

h2 {
    font-family: Vollkorn, serif;
    font-size: 2.125rem;
}

p {
    font-family: Roboto, sans-serif;
}