@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Vollkorn:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --orange-small-text: #ff5d36;
    --text-color: #4B566A;
    --text-light-color: #fff;
}

body {
    background-color: #FFFFFF;
}

h2 {
    font-family: Vollkorn, serif;
    font-size: 2.125rem;
}

p {
    font-family: Roboto, sans-serif;
}