@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Vollkorn:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    display: block;
    width: 100%;
}
:root {
    scroll-behavior: smooth;
    --orange-small-text: #ff5d36;
    --prices-color: rgb(255, 93, 40);
    --title-color: #4B566A;
    --text-light-color: #fff;
    --subtitle-color: rgb(130, 134, 143);
    --background-light-color: #fff;
    --description-text-color: rgb(155, 158, 164);
}

body {
    background-color: #FFFFFF;
}

h2 {
    font-family: Vollkorn, serif;
    font-size: 2.125rem;
}

p {
    font-family: Roboto, sans-serif;
}
