.description {
    display: block;
}

.description__blocks__background {
    display: block;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: var(--description-background-color);
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
}

.description__blocks__padding {
    display: block;
    flex-basis: 100%;
    flex-shrink: 0;
    min-width: 320px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 90px;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .description__blocks__padding {
        padding-bottom: 105px;
        padding-top: 105px;
    }
}

@media (min-width: 992px) {
    .description__blocks__padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.description__blocks__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}

@media (min-width: 768px) {
    .description__blocks__inner {
        flex-direction: row;
    }
}

.description__blocks__image__wrap {
    display: block;
    flex-basis: 100%;
    margin-top: -90px;
    padding-top: 60%;
    position: relative;
}

@media (min-width: 768px) {
    .description__blocks__image__wrap {
        flex-basis: 50%;
        margin-bottom: -105px;
        margin-top: -105px;
        max-width: 50%;
        padding-top: 60%;
        position: relative;
    }
}

@media (min-width: 992px) {
    .description__blocks__image__wrap {
        flex-basis: 50%;
        margin-bottom: -120px;
        margin-top: -120px;
        padding-top: 0;
        max-width: 50%;
        position: relative;
    }
}

.description__blocks__img__wrap {
    bottom: 0;
    display: block;
    left: 0;
    max-width: 100%;
    min-height: 32px;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow-wrap: break-word;
    -webkit-box-direction: normal;
}

.description__blocks__image {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: clip;
    overflow-y: clip;
    margin: 0;
    padding: 0;
    position: absolute;
    background-repeat: no-repeat;
    object-position: 50% 100%;
    overflow-clip-margin: content-box;
    object-fit: cover;
}

.description__blocks__text__wrap {
    display: block;
    flex-basis: 100%;
    margin: 0;
    max-width: 100%;
    padding-bottom: 90px;
    padding-top: 90px;
}

@media (min-width: 768px) {
    .description__blocks__text__wrap {
        flex-basis: 50%;
        margin: 0;
        max-width: 50%;
        padding-bottom: 0;
        padding-top: 0px;
    }
}

.description__blocks__text__wrap__padding {
    padding-left: 30px;
    padding-right: 30px;
}

.description__blocks__text__wrap__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
}

.description__blocks__text__padding {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}

.description__blocks__text {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    max-width: 100%;
    min-width: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .description__blocks__text {
        flex-basis: 50vw-47px;
    }
}

@media (min-width: 992px) {
    .description__blocks__text {
        flex-basis: 570px;
    }
}

.description__blocks__text__subtitle {
    font-family: Roboto, sans-serif;
    margin: 0;
    justify-content: flex-start;
    max-width: 100%;
    font-size: 11px;
    font-stretch: 100%;
    font-weight: 900;
    letter-spacing: 1.1px;
    line-height: 15.73px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: baseline;
    color: var(--description__blocks__text__subtitle);
}

.description__blocks__text__title {
    font-family: Vollkorn, serif;
    margin-top: 20px;
    margin-bottom: 0;
    justify-content: flex-start;
    max-width: 100%;
    font-size: 42px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 50.4px;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    color: var(--description__blocks__text__title);
}

.description__blocks__text__undertitle {
    font-family: Roboto, sans-serif;
    margin-top: 24px;
    margin-bottom: 0;
    justify-content: flex-start;
    max-width: 100%;
    font-size: 19px;
    font-stretch: 100%;
    font-weight: 500;
    line-height: 26.6px;
    text-transform: none;
    vertical-align: baseline;
    color: var(--description__blocks__text__undertitle);
}

@media (min-width: 992px) {
    .description__blocks__text__undertitle {
        margin-top: 15.5px;
        margin-bottom: 0;
    }
}

.description__blocks__text__gambino {
    margin-top: 25px;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24.48px;
    text-align: left;
    vertical-align: baseline;
    color: var(--description__blocks__text__gambino);
    justify-content: flex-start;
    max-width: 100%;
}

.description__block__svg {
    display: block;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top: 20px;
}

.description__string__svg {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    align-items: flex-start;
}

.description__string__svg__none {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    align-items: flex-start;
}

.description__svg {
    height: 24px;
    max-height: 100%;
    max-width: 100%;
    justify-content: flex-start;
    width: 20px;
    color: var(--description__svg);
}

.description__text__svg {
    display: block;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24.48px;
    text-align: left;
    word-break: break-word;
    color: var(--description__blocks__text__undertitle);
}

.description__blocks__text__atmosphere {
    display: block;
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top: 20px;
    max-width: 100%;
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24.48px;
    text-align: left;
    color: var(--description__blocks__text__gambino);
}