.gift-cards__discount {
  width: 100%;
  background-image: url(../img/gift-cards/background-image-gift-cards.png);
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
}

.gift-cards__discount-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 25px 90px 25px;
  min-width: 320px;
  gap: 20px;
}

.gift-cards__discount-offer-vouchers {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 15px 0 15px;
}

.vouchers__first-subtitle {
  font-size: 11px;
  font-weight: 900;
  color: var(--gift-part-subtitle-color);
  margin-bottom: 15px;
}

.vouchers__title {
  font-weight: 400;
  color: var(--text-light-color);
  margin-bottom: 15px;
}

.vouchers__line-image {
  width: 70px;
  padding-bottom: 35px;
}

.vouchers__second-subtitle {
  color: var(--text-light-color);
  opacity: 0.81;
  font-size: 1.1875rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.vouchers__conditions {
  display: flex;
  width: 130px;
  height: 46px;
  background-color: var(--background-light-color);
  border-style: solid;
  border-color: var(--background-light-color);
  border-radius: 7px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: var(--background-dark-color);
  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.vouchers__conditions:hover {
  background-color: var(--background-dark-color);
  border-color: var(--background-dark-color);
  color: var(--text-light-color);
}

.gift-cards__discount-offer-cardsconteiner {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cardsconteiner__card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light-color);
  padding: 30px;
  border-radius: 5px;
}

.cardsconteiner__card-image {
  width: 50px;
  padding-bottom: 15px;
}

.cardsconteiner__card-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 1.75rem;
  padding-bottom: 20px;
}

.cardsconteiner__card-text {
  display: flex;
  color: var(--description-text-color);
  line-height: 24px;
  padding-bottom: 20px;
}

.cardsconteiner__card-subtext {
  display: flex;
  color: var(--subtitle-color);
  opacity: 0.63;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 35px;
}

.cardsconteiner__card-subtext-stars {
  color: var(--prices-color);
}

.cardsconteiner__card-buy {
  color: var(--prices-color);
  font-family: roboto, sans-serif;
  font-size: 0.68rem;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.gift-cards__carousel-inner {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--carousel-background-color);
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.gift-cards__carousel-item-image {
  width: 250px;
}

@media (min-width: 768px) {
  .gift-cards__discount-offer-vouchers {
    width: 100%;
    align-items: flex-start;
  }

  .vouchers__title {
    font-size: 2.375rem;
  }
  .gift-cards__discount-offer-cardsconteiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .cardsconteiner__card {
    align-items: center;
  }

  .cardsconteiner__card-text {
    text-align: center;
  }

  .cardsconteiner__card-subtext {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .gift-cards__discount-offer {
    max-width: 1024px;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    gap: 25px;
    justify-content: space-around;
  }

  .gift-cards__discount-offer-vouchers {
    max-width: 350px;
    height: 100%;
    align-content: space-between;
    justify-content: space-between;
  }

  .vouchers__title {
    font-size: 2.625rem;
  }
}
