.gift-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgba(255, 93, 40, 0.7);
  padding: 80px 0 100px 0;
  min-width: 320px;
  gap: 20px;
}

.gift-cards__discount-offer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 0 24px 0 24px;
}

.gift-cards__discount-offer-vouchers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0 15px 0 15px;
}

.vouchers__first-subtitle {
  font-size: 11px;
  font-weight: 900;
  color: #f7f6f2;
  margin-bottom: 15px;
}

.vouchers__title {
  font-weight: 400;
  color: var(--text-light-color);
  margin-bottom: 50px;
}

.vouchers__second-subtitle {
  color: rgba(255, 255, 255, 0.81);
  font-size: 1.1875rem;
  margin-bottom: 30px;
}

.vouchers__conditions {
  display: flex;
  width: 130px;
  height: 46px;
  background-color: var(--background-light-color);
  border-style: solid;
  border-color: var(--background-light-color);
  border-radius: 7px 25px 25px 25px;
  justify-content: center;
  align-items: center;
  color: rgb(75, 86, 106);
  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.vouchers__conditions:hover {
  background-color: rgb(75, 86, 106);
  border-color: rgb(75, 86, 106);
  color: #fff;
}

.gift-cards__discount-offer-cardsconteiner {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}

.cardsconteiner__card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
}

.cardsconteiner__card-image {
  width: 50px;
  padding-bottom: 15px;
}

.cardsconteiner__card-title {
  color: rgb(75, 86, 106);
  font-weight: normal;
  font-size: 1.75rem;
  padding-bottom: 20px;
}

.cardsconteiner__card-text {
  display: flex;
  color: rgb(155, 158, 164);
  line-height: 24px;
  padding-bottom: 20px;
}

.cardsconteiner__card-subtext {
  display: flex;
  color: rgba(130, 134, 143, 0.63);
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 35px;
}

.cardsconteiner__card-subtext-stars {
  color: rgb(255, 93, 40);
}

.cardsconteiner__card-buy {
  color: rgb(255, 93, 40);
  font-family: roboto, sans-serif;
  font-size: 0.68rem;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.gift-cards__carousel-inner {
  display: flex;
  flex-direction: column;
  background-color: #373e4a;
  padding: 20px;
  gap: 20px;
}

.gift-cards__carousel-item-image {
  width: 250px;
}

@media (min-width: 768px) {
  .gift-cards__discount-offer-cardsconteiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .cardsconteiner__card {
    align-items: center;
  }

  .cardsconteiner__card-text {
    text-align: center;
  }

  .cardsconteiner__card-subtext {
    text-align: center;
  }
}

@media (min-width: 992px) {
    .gift-cards__discount-offer {
        flex-direction: row;
        gap: 25px;
        justify-content: space-around;
    }

    .gift-cards__discount-offer-vouchers {
        height: 100%;
    }
}
