.about-us__title__list {
    display: block;
}

.about-us__blocks__orange {
    display: block;
    position: relative;
    z-index: 0;
}

.about-us__blocks__background__orange {
    background-image: url('../img/about-us/title/about-us-orange.png');
    display: block;
    color: var(--about-us__title__background);
    background-attachment: scroll, scroll;
    background-color: var(--about-us__title__background);
    background-position-x: 46.88%, 0%;
    background-position-y: 24.69%, 0%;
    background-size: cover, auto;
}

.about-us__blocks__padding__orange {
    display: block;
    flex-basis: 100%;
    flex-shrink: 0;
    min-width: 320px;
    padding-bottom: 105px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}

.about-us__blocks__padding__margin {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1200px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
}

.about-us__blocks__orange__text {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-direction: column;
}

.about-us__orange__text__title {
    display: inline;
    height: auto;
    margin: 0;
    font-family: Vollkorn, serif;
    font-size: 60px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 66px;
    text-align: center;
    vertical-align: baseline;
    color: var(--about-us__title__name);
}

.about-us__orange__text {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    max-width: 100%;
}

.about-us__orange__text__Home {
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 20.7px;
    text-align: center;
    vertical-align: baseline;
    color: var(--about-us__title__text);
}

.about-us__orange__text__Location {
    display: inline;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 20.7px;
    text-align: center;
    text-decoration-line: underline;
    vertical-align: baseline;
    color: var(--about-us__title__text__location);
}