.what-to-expect
{
  display: flex;
  flex-direction: column;
}
.what-to-expect__small-text
{
    text-transform: uppercase;
    font-size: 11px;
    color: #FF9628;
    text-align:center;
}
.what-to-expect__title
{
    font-size: 42px;
    color: #4B566A;
    text-align:center;
}
.what-to-expect__divider
{
    width: 70px;
}
.what-to-expect__description
{
    font-size: 19px;
    color: #4B566A;
    text-align:center;
}
.what-to-expect__cards
{
    display: flex;
    flex-direction: row;
}
.what-to-expect__cards-item
{

}
.item__title
{
    font-size: 26px;
    color: #4B566A;
}
.item__photo
{
    width: 92px;
}
.item__divider
{
    width: 52px;
}
.item__subtext
{
    font-size: 26px;
    color: #4B566A;
}