.categories__first-subtitle {
    font-size: 11px;
    font-family: Roboto, sans-serif;
    color: var(--orange-small-text);
    text-align: center;
    font-weight: 700;
}

.categories__title {
    font-size: 46px;
    font-family: Vollkorn, serif;
    color: var(--title-color);
    text-align: center;
}

.categories__second-subtitle {
    font-size: 19px;
    font-family: Roboto, sans-serif;
    color: var(--subtitle-color);
    text-align: center;
}

@media (min-width: 768px) {
    .categories_plates {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.first-button {
    background-color: var(--background-light-color);
    border-color: var(--buttons-color);    
    border-radius: 7px 25px 25px 25px;
    width: 130px;
    height: 46px;
}