
.menu-item {
  text-decoration: none;
}


.list-item {
  font-size: 1.0625rem;
  color: var(--secondary-color);
  font-weight: 400;
}

.social-link,
.social-name,
.working-hours-name {
  display: flex;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 0.7rem;
  font-family: Roboto, sans-serif;
}

.logo-white {
  background-color: var(--background-color);
}

.wrapper-orange {
  width: 100%;
  background-color: var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.social-list {
  width: 358px;
}

.social-list,
.menu-list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: 100%;
  max-width: 153px;
  height: auto;
}

.working-hours,.modal__working-hours,
.hidding-wrapper {
  list-style: none;
  width: 100%;
}

.menu-list {
  /* width: 100%; */
  justify-content: flex-end;
}

.working-hours-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-logo {
  z-index: 3;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-logo__btn, .list-logo__modal-btn {
  height: 40px;
  width: 40px;
  border: 0;
  background-color: var(--background-color);
}

.modal {
  padding: 20px 0 0 0!important;
}

.modal .working-hours-social, .modal .working-hours-name {
  justify-content: center;
}

.modal .social-list {
  padding-left: 2px;
  justify-content: normal;
  gap: 8px;
  width: auto;
}

.modal-btn__item {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 2px;
  width: 24px;
  background-color: var(--secondary-color);
}

.modal .menu-list-item {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 0;
}

.modal-btn__item::before,
.modal-btn__item::after {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  height: 2px;
  width: 24px;
  background-color: var(--secondary-color);
  transition: transform .2s ease-in,opacity .2s ease-in-out,-webkit-transform .2s ease-in;
  -webkit-transition: transform .2s ease-in,opacity .2s ease-in-out,-webkit-transform .2s ease-in;
  -moz-transition: transform .2s ease-in,opacity .2s ease-in-out,-webkit-transform .2s ease-in;
  -ms-transition: transform .2s ease-in,opacity .2s ease-in-out,-webkit-transform .2s ease-in;
  -o-transition: transform .2s ease-in,opacity .2s ease-in-out,-webkit-transform .2s ease-in;
}

.modal-btn__item::before {
  top: 5px;
}

.modal-btn__item::after {
  bottom: 5px;
}

.open .modal-btn__item {
  background-color: unset;
}

.open .modal-btn__item::before {
  transform: translateY(-5px) rotate(45deg);
  -webkit-transform: translateY(-5px) rotate(45deg);
  -moz-transform: translateY(-5px) rotate(45deg);
  -ms-transform: translateY(-5px) rotate(45deg);
  -o-transform: translateY(-5px) rotate(45deg);
}

.open .modal-btn__item::after {
  transform: translateY(5px) rotate(135deg);
  -webkit-transform: translateY(5px) rotate(135deg);
  -moz-transform: translateY(5px) rotate(135deg);
  -ms-transform: translateY(5px) rotate(135deg);
  -o-transform: translateY(5px) rotate(135deg);
}

.menu-item {
  color: inherit;
  padding: 0 !important;
  transition: color 300ms linear;
}

.menu-item:hover {
  color: var(--accent-color);
}

.wrapper-orange .container {
  display: none;
}

.menu-list{
  display: none;
}

@media (min-width: 990px) {
  .working-hours,
  /* .menu-list, */
  .hidding-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-logo__modal-btn {
    display: none;
  }

  .modal, .backdrop {
    display: none!important;
  }

  .list-item:not(:last-child) {
    padding: 0;
    margin-right: 30px;
  }

  .wrapper-orange .container {
    display: block;
  }
  .menu-list{
    display: block;
  }  
}
