.news__introduction {
    background-image: url(img/news/background_intro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.news__content {
    background-image: url('background_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column; 
}

.news__content-wine-card {
    background-image: url(img/news/wine.webp);
}