.what-to-expect {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
/*
.container {
    max-width: 1100px;
    margin: auto;
}
*/
.what-to-expect__content-small-text {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--orange-small-text);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.what-to-expect__content-title {
    font-family: Vollkorn, serif;
    font-size: 2.625rem;
    color: var(--title-color);
    font-weight: normal;
    display: flex;
    justify-content: center;
    text-align: center;
}
.what-to-expect__content-divider {
    width: 70px;
    display: flex;
    justify-content: center;
}
.what-to-expect__content-description {
    font-size: 1.18rem;
    color: var(--subtitle-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
}
.what-to-expect__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.what-to-expect__cards-item {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 30px;
}
.item__title {
    font-size: 1.5rem;
    color: var(--title-color);
    font-family: Vollkorn, serif;
    font-weight:400;
}
.item__photo {
    width: 92px;
}
.item__divider {
    width: 52px;
    height: 3px;
    background-color:var(--orange-small-text) ;
    margin: 15px 0 15px 0;
}
.item__subtext {
    font-size: 1.06rem;
    color: var(--subtitle-color);
    font-weight:400;
}
