@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
}

.off1 {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;

    --text-color-title: rgb(75, 86, 106);
    --text-color-title-subtext: rgb(255, 93, 40);
    --text-color-text: rgb(155, 158, 164);
    --text-color-subtext: rgb(130, 134, 143);
    --w-100vw: 100vw;
    --w-content-gutter: var(--content-gutter-480);
    --w-content-container-size: 1200px;
    --content-gutter-480: 24px;
    --content-gutter-768: 32px;
    --content-gutter-992: 40px;
    --content-gutter-1280: 15px;
}

.off1__2 {
    display: flex;
    position: static;
    z-index: auto;
    color: rgb(75, 86, 106);
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;


}

.off1__2__3 {
    display: none;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
}

.off1__2__4 {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    right: 0;
    top: 0;
}

.off1__2__4__5 {
    background: url(../img/offers/background.svg) 13.44% 56.06% / cover no-repeat, rgb(247, 246, 242);
    display: block;
    bottom: 0px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
}