.categories {
    padding: 95px 24px 100px 24px;
    background-image: url(../img/categories/categories-background-bottom.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}
@media (min-width: 768px) {
    .categories {
        padding: 105px 0 50px 0;
        background-image: url(../img/categories/categories-background-top.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }
}
.categories__first-subtitle {
    font-size: 11px;
    color: var(--small-text);
    text-align: center;
    font-weight: 700;
}
.categories__title {
    font-size: 2.125rem;
    color: var(--title-color);
    text-align: center;
}
.categories__decoration img {
    display: flex;
    margin: auto;
    padding: 30px 0;
}
.categories__second-subtitle {
    font-size: 1.1875rem;
    color: var(--subtitle-color);
    text-align: center;
}
.categories_plates {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
@media (min-width: 768px) {
    .categories_plates {        
        flex-direction: row;
        justify-content: center;
    }
}
.categories__plate-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7.5px 15px 7.5px 15px;
    gap: 10px;
}
@media (min-width: 768px) {
    .categories__plate-one {
        flex-direction: column;
        padding-top: 0;
    }
}
@media (min-width: 829px) {
    .categories__plate-one {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}
.categories__plate-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    margin-top: 50px;
    gap: 10px;
}
@media (min-width: 768px) {
    .categories__plate-two {
        margin-top: 0;
        flex-direction: column;
    }
}
@media (min-width: 829px) {
    .categories__plate-two {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}
.categories__plate-three {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px;
    margin-top: 50px;
    gap: 10px;
}
@media (min-width: 768px) {
    .categories__plate-three {
        margin-top: 0;
        flex-direction: column;
    }
}
@media (min-width: 829px) {
    .categories__plate-three {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}
.categories__plate-image {
    width: 70px;
}
@media (min-width: 768px) {
    .categories__plate-image {
        display: flex;
        width: 120px;
    }
}
.categories__plate-name a {
    color: var(--title-color);
    text-decoration: none;
    font-family: Vollkorn, serif;
    font-size: 1.5rem;
}
.categories__plate-name a:hover {
    color: var(--prices-color);
}
.categories__plate-arrow {
    color: var(--prices-color);
    font-family: Vollkorn, serif;
    font-size: 1.25rem;
}
.categories__plate-offer {
    color: var(--description-text-color);
    font-family: Roboto, sans-serif;
    font-size: 1.0625rem;
}
.categories__main-photo-container {
    max-width: 80%;       
    justify-content: center;
    overflow: auto;
    display: flex;
    margin: auto;
}
.categories__main-photo {
    width: 80%;    
    object-fit: cover;
    object-position: 50% 50%;
}
.categories__menu {
    padding: 30px 24px 0px 24px;
}

.categories__menu-column-one {
    padding: 0 15px;
}
.categories__menu-column-two {
    margin-top: 50px;
    padding: 0 15px;
}
@media (min-width: 768px) {
    .categories__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .categories__menu-column-one {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    .categories__menu-column-two {
        margin-top: 0px;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }
}
.categories__menu-item {
    padding: 7.5px 0;
}
.categories__menu-item-name {
    font-size: 1.375rem;
    font-family: Vollkorn, serif;
    font-weight: 400;
    color: var(--title-color);           
}
.categories__menu-item-price {
    font-size: 1.25rem;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: var(--prices-color);
}
.categories__menu-item-ingredients {
    font-size: 1.0625rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: var(--description-text-color);
}
@media (min-width: 768px) {
    .categories__menu-item-name {
        font-size: 1.5rem;
    }
    .categories__menu-item-price {
        font-size: 1.3125rem;
    }
}
.categories__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}
@media (max-width: 388px) {
    .categories__buttons {
        padding-top: 50px;
        flex-direction: column;
        margin: auto;
        width: 50%;
    }
}
.categories__first-button {
    background-color: var(--background-light-color);
    border-style: solid;
    color: var(--small-text);
    font-size: 16px;
    border-color: var(--buttons-color);
    border-radius: 7px 25px 25px 25px;
    width: 156px;
    height: 46px;
}
.categories__second-button {
    background-color: var(--buttons-color);
    border-style: solid;
    border: none;
    font-size: 16px;
    color: var(--text-light-color);
    border-radius: 7px 25px 25px 25px;
    width: 164px;
    height: 46px;
}