

.logo-white{
    background-color:  #f7f6f2;
}
.wrapper-orange{
    width: 100%;
    background-color:#ff5d28  ;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.social-list{
    width: 358px;
}

.logo-img{
  width: 100%;
  max-width: 153px;
  height: auto;
}
.working-hours, .menu-list, .hidding-wrapper{
    display: none;
    list-style: none;
    width: 100%;
}
.menu-list{
    width: 100%;
    justify-content: flex-end;

}

.working-hours-social{
    display: flex;
    justify-content: space-between;
}

/* .list-menu{
   
} */
.list-logo{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list-logo-btn{
    height: 40px;
    width: 40px;

    border: 0;
    background-color:  #f7f6f2;
    /* padding-left: 72px; */
    
}

.list-logo-item {
    position: relative;
    display: block;
    height: 2px ;
    width: 24px;
    background-color: #82868f;
}

.list-logo-item::before {
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    content: ' ';
    height: 2px ;
    width: 24px;
    background-color: #82868f;
}

.list-logo-item::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 5px;
    content: ' ';
    height: 2px ;
    width: 24px;
    background-color: #82868f;
}

.menu-item{
    color: inherit;
    padding: 0 !important;   
    transition: color 300ms linear;
}
.menu-item:hover{
    color: #ff5d28 ;
}

/* 12345678 */
@media (min-width: 990px) {
    .working-hours, .menu-list, .hidding-wrapper {
      /* display: block; */
      

      display: flex;
      /* justify-content: space-between; */
      align-items: center;
    }

    .working-hours, .hidding-wrapper {
        justify-content: space-between;
    }
    

   .list-logo-btn{
    display: none;
   }

    .social-list, .menu-list-item{
        list-style: none;
        display: flex;
      justify-content: space-between;
    }
   

    .list-item{
        padding: 0;
    }
    .list-item:not(:last-child){
       margin-right: 30px;
    }
  }
