.news__introduction {
    padding-top: 95px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    text-align: center;
    background-image: url(../img/news/background_intro.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.news__section-name {
    color: var(--small-text);
    font-size: 0.6875rem;
    font-weight: 900;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}

.news__main-title {
    display: flex;
    justify-content: center;
    font-family: Vollkorn, serif;
    font-size: 2.375rem;
    font-weight: 400;
    color: var(--title-color);
}

.underline_line {
    display: flex;
    justify-content: center;
}

.news__introduction-text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: var(--subtitle-color);
    font-size: 1.1875rem;
}

.news__content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__content-wine-card {
    min-height: 494.31px;
    background-image: var(--background-gradient), url(../img/news/wine.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    border-radius: 6px;
    margin: 0 15px 0 15px;
}

/*сделать рамку и сдвинуть фоновое из-е*/

.news__content-title-wine-card {
    color: var(--background-light-color);
    font-family: Vollkorn, serif;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 31.2px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 35px;
}

.news__content-text-wine-card {
    color: var(--news-text-color);
    font-family: Roboto, sans-serif;
    font-size: 1.0625rem;
    line-height: 24.28px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
}

.news__content-link-wine-card {
    font-family: Roboto, sans-serif;
    font-size: 0.6875rem;
    font-weight: 900;
    text-decoration: underline;
    color: var(--prices-color);
    cursor: pointer;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
}

.news__content-mussel-and-meat-card {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 100px 15px;
    justify-content: center;
}

.news__content-mussel-card,
.news__content-meat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news__mussel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news__meat-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news__content-title {
    color: var(--background-dark-color);
    font-family: Vollkorn, serif;
    font-size: 1.375rem;
    line-height: 28.6px;
    font-weight: 400;
    margin-top: 15px;
}

.news__content-text {
    color: var(--subtitle-color);
    font-family: Roboto, sans-serif;
    font-size: 1.0625rem;
    line-height: 24.48px;
    font-weight: 400;
    margin: 20px 0 35px 0;
}

.news__content-button-container {
    display: flex;
    width: 125.84px;
    height: 42.08px;
    background-color: var(--prices-color);
    border-radius: 7px 25px 25px 25px;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    align-items: center;
    line-height: 22.08px;
    cursor: pointer;
}

.news__content-button-text {
    color: var(--text-light-color);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 600;
}

.news__content-meat-card {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .news__introduction {
        padding-top: 105px;
    }

    .news__content-mussel-and-meat-card {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .news__content-meat-card {
        margin-top: 0;
    }

    .news__content-button-container {
        min-width: 125.84px;
        min-height: 42.08px;
    }
}

@media (min-width: 992px) {
    .news__content-main {
        flex-direction: row;
        max-width: 1200px;
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 120px;
        gap: 30px;
    }

    .news__content-mussel-and-meat-card {
        padding: 0;
    }


    .news__content-wine-card {
        min-width: 270px;
        height: 541.188px;
        margin-right: 0;
    }

    .news__content-mussel-and-meat-card {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        flex-direction: row;
    }

    .news__content-mussel-card,
    .news__content-meat-card {
        flex: 1;
    }

    .news__content-title {
        font-size: 1.625rem;
        line-height: 33.8px;
    }
}