.gift-cards__carousel-swiper-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--carousel-background-color);
}

.gift-cards__carousel-swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    /* background-color: var(--carousel-background-color); */
}

.gift-cards__carousel-swiper-inner {
    padding: 50px 0 50px 0;
}

.gift-cards__carousel-swiper-item,
.gift-cards__carousel-swiper-item img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--gift-part-subtitle-color) !important;
}
