<section class="footer">
    <div class="footer__content">
        <div class="footer__content-el-gambino">
            <img class="el-gambino__logo" src="img/icon.ico" alt="El Gambino">
            <p class="el-gambino__subtext">El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago.</p>
            <ul class="el-gambino__menu">
                <li class="menu__item">
                    <a href="#" class="menu__link">CHEF'S SPECIALS</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">LUNCH</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">DRINKS</a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">RESERVE A TABLE</a>
                </li>
            </ul>
            <div class="social__container">
                <ul class="social__menu">
                    <li class="social__menu-item">
                        <a href="#" class="social__menu-link">
                            <img class="social__menu-img" src="img/icon.ico" alt="img">
                        </a>
                    </li>
                    <li class="social__menu-item">
                        <a href="#" class="social__menu-link">
                            <img class="social__menu-img" src="img/icon.ico" alt="img">
                        </a>
                    </li>
                    <li class="social__menu-item">
                        <a href="#" class="social__menu-link">
                            <img class="social__menu-img" src="img/icon.ico" alt="img">
                        </a>
                    </li>
                    <li class="social__menu-item">
                        <a href="#" class="social__menu-link">
                            <img class="social__menu-img" src="img/icon.ico" alt="img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__content-navigation">
            <h3 class="navigation__title">Navigation</h3>
            <div class="navigation__divider"></div>
            <ul class="navigation__menu">
                <li class="navigation__menu-item">
                    <a href="#" class="navigation__menu-link">Menu</a>
                </li>
                <li class="navigation__menu-item">
                    <a href="#" class="navigation__menu-link">About us</a>
                </li>
                <li class="navigation__menu-item">
                    <a href="#" class="navigation__menu-link">Offers & Discounts</a>
                </li>
                <li class="navigation__menu-item">
                    <a href="#" class="navigation__menu-link">Space</a>
                </li>
            </ul>
        </div>
        <div class="footer__content-links">
            <h3 class="links__title">Links</h3>
            <div class="links__divider"></div>
            <ul class="links__menu">
                <li class="links__menu-item">
                    <a href="#" class="links__menu-link">Gift cards</a>
                </li>
                <li class="links__menu-item">
                    <a href="#" class="links__menu-link">Team</a>
                </li>
                <li class="links__menu-item">
                    <a href="#" class="links__menu-link">Catering</a>
                </li>
                <li class="links__menu-item">
                    <a href="#" class="links__menu-link">Contacts</a>
                </li>
            </ul>
        </div>
        <div class="footer__content-contact-us">
            <h3 class="contact-us__title">Contact Us</h3>
            <div class="contact-us__divider"></div>
            <ul class="contact-us__list">
                <li class="contact-us__list-item">
                    <img src="img/icon.ico" class="contact-us-img" alt="img">
                    <a href="#" class="contact-us__list-link">+1 (234) 567 89 00</a>
                </li>
                <li class="contact-us__list-item">
                    <img src="img/icon.ico" class="contact-us-img" alt="img">
                    <a href="#" class="contact-us__list-link">el.gambino@email.com</a>
                </li>
                <li class="contact-us__list-item">
                    <img src="img/icon.ico" class="contact-us-img" alt="img">
                    <a href="#" class="contact-us__list-link">Working Hours:<br>
                        Mon-Sun 12 pm - 01 am</a>
                </li>
            </ul>
        </div>
    </div>
</section>