<section class="catering">
    <p class="catering__subtitle">- CATERING -</p>
    <img src="img/shrimps.jpg" alt="Picture of shrimps" class="catering__img" width="700">
    <h2 class="catering__title">We Cater Any Events</h2>
    <p class="catering__text-upper">Celebrate with us your special events or private parties and surprise your guests
        with our seasonal culinary delights.</p>
    <p class="catering__text-lower">El Gambino is proud to cater any events, ranging from birthday parties, sweet 16th,
        anniversaries, to large corporate events, university-related parties, and weddings. Celebrate with us your
        special event or private party and surprise your guests with our seasonal culinary delights!</p>
    <img src="img/cake.svg" alt="Picture of cake" class="catering__img" width="50">
    <h3 class="catering__headline">Birthdays</h3>
    <p class="catering__text-lower">Celebrate your birthday party with the best dishes and enjoy the panoramic views
        from El Gambino NY.</p>
    <img src="img/cooking.svg" alt="Picture of cooking" class="catering__img" width="50">
    <h3 class="catering__headline">Private Dining Room</h3>
    <p class="catering__text-lower">Our newly appointed Private Dining Room at El Gambino Boston seats up to ten guests.
        Perfect for your events!</p>
    <img src="img/skewer.svg" alt="Picture of skewer" class="catering__img" width="50">
    <h3 class="catering__headline">Corporate Parties</h3>
    <p class="catering__text-lower">El Gambino Chicago also offers the most spacious event space for large-sized corporate
        events (20+ people).</p>
</section>