<section class="what-to-expect">
    <div class="what-to-expect__content">
        <p class="what-to-expect__content-small-text">- what to expect -</p>
        <h2 class="what-to-expect__content-title">The Benefits of Dining with Us</h2>
        <div class="what-to-expect__content-divider"></div>
        <p class="what-to-expect__content-description">Looking for a great place to have dinner? Book a table at El Gambino!</p>
    </div> 
    <div class="what-to-expect__cards">
        <article class="what-to-expect__cards-item item">
            <img width="92" class="item__photo" alt="Quality food image" src="img/what-to-expect/quality-food.png">
            <h3 class="item__title">Exceptional Quality of Food</h3>
            <div class="item__divider"></div>
            <p class="item__subtext">We take pride in offering our guests the highest quality of ingredients sourced from local farms and markets.</p>
        </article>
        <article class="what-to-expect__cards-item item">
            <img width="92" class="item__photo" alt="Varied menu image" src="img/what-to-expect/varied-menu.png">
            <h3 class="item__title">Varied Menu Selection</h3>
            <div class="item__divider"></div>
            <p class="item__subtext">Our menu features a wide selection of dishes to suit every taste and preference. We have something for everyone.</p>
        </article>
        <article class="what-to-expect__cards-item item">
            <img width="92" class="item__photo" alt="Impeccable service image" src="img/what-to-expect/impeccable-service.png">
            <h3 class="item__title">Impeccable Service</h3>
            <div class="item__divider"></div>
            <p class="item__subtext">Our staff is trained to provide attentive and personalized service to each and every guest, ensuring a memorable dining experience.</p>
        </article>
    </div>
</section>