<section class="all-pasta">
  <div class="all-inn">
    <!--Body-->
    <div class="body">
      <h5 class="new-pasta">-NEW PASTA-</h5>
      <h1 class="italian-days">Italian Days in El Gambino</h1>
      <h4 class="fairwiev">Your favorite Italian recipes now in our restaurants!</h4>
    </div>
    <!--Main Menu-->
    <div class="all-menu">
      <div class="menu-container">
        <!--First food-->
        <div class="menu-item">
          <img class="photo" src="/img/new-pasta/pasta-original.jpg" alt="pasta photo">
          <div class="text">
            <h5 class="pasta">PASTA</h5>
            <p class="name-of-food"><b>Pasta "San Miguel"</b></p>
            <p class="netto"><b>320g</b> | <i>Fettuccine, pine nuts, chicken, pesto sauce</i>.</p>
            <p class="ingirients">Italian pasta with organic pesto and chicken according to our own recipe.</p>
          </div>
        </div>
        <!--Second food-->
        <div class="menu-item2">
          <img class="photo" src="/img/new-pasta/tomatoes.jpg" alt="salat">
          <div class="text">
            <h5 class="pasta">SALADS</h5>
            <p class="name-of-food"><b>Salad "Monguel"</b></p>
            <p class="netto"><b>220g</b> | <i>Grilled tomatoes, spinach, basil, olive oil, soy sauce.</i></p>
            <p class="ingirients">Refreshing salad of three types of tomatoes with herbs and soy sauce.</p>
          </div>
        </div>
      </div>
      <div class="menu-container">
        <!--Third food-->
        <div class="menu-item">
          <img class="photo" src="/img/new-pasta/pasta-2-original.png" alt="pasta and tomatos">
          <div class="text">
            <h5 class="pasta">PASTA</h5>
            <p class="name-of-food"><b>Pasta "Pomodoro"</b></p>
            <p class="netto"><b>370g</b> | <i>Spaghetti, cherry tomatoes, basil, parmesan cheese</i>.</p>
            <p class="ingirients">Spring pasta with vegetables from our chef. Suitable for vegetarians and vegans.</p>
          </div>
        </div>
        <!--Fourth food-->
        <div class="menu-item2">
          <img class="photo" src="/img/new-pasta/meat.jpg" alt="main-food">
          <div class="text">
            <h5 class="pasta">MAIN COURSES</h5>
            <p class="name-of-food"><b>Veal Steak</b></p>
            <p class="netto"><b>320g</b> | <i>Veal Steak, baked potatoes, red wine sauce.</i></p>
            <p class="ingirients">Juicy veal steak with baked potatoes, paprika, and herbs. The red wine sauce is great!</p>
          </div>
        </div>
      </div>
    </div>
      <!--Final-->
      <div class="end-block">
        <h4 class="make-your-first-step">Make the First Step to Your <i>Culinary Journey</i> Right Now!</h4>
        <p class="phone-number">Call us now <a href="+1 (234) 567 89 00">+1 (234) 567 89 00</a></p>
      </div>
</section>