<section class="vacancies">
    <div class="vacancies__blocks__background">
        <div class="vacancies__blocks__padding">
            <div class="vacancies__blocks__padding__margin">
                <div class="vacancies__title">
                    <p class="vacancies__title__subtitle">- Vacancies -</p>
                    <div class="vacancies__title__name__margin">
                        <h2 class="vacancies__title__name">Open Vacancies</h2>
                    </div>
                    <p class="vacancies__title__text">Apply to one of our available vacancies.</p>
                </div>
                <div class="vacancies__subgrid">
                    <div class="vacancies__grid">
                        <div class="vacancies__grid__inner">
                            <div class="vacancies__grid__list">
                                <div class="vacancies__grid__list__padding">
                                    <div class="vacancies__list__inner">
                                        <div class="vacancies__list__inner__image">
                                            <img class="vacancies__image"
                                                src="img/about-us/vacancies/vacancies-sous.svg" alt="icon">
                                        </div>
                                        <div class="vacancies__list__inner__text">
                                            <p class="vacancies__inner__text__cook">SouS Chef</p>
                                            <p class="vacancies__inner__text__month">$ 4.5000/ month</p>
                                        </div>
                                        <div class="vacancies__list__inner__svg">
                                            <div class="vacancies__inner__svg__box">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="-370 248.3 100 100"
                                                        enable-background="new -370 248.3 100 100" xml:space="preserve"
                                                        style="max-width:100%" height="100%">
                                                        <path fill="currentColor"
                                                            d="M-345.5,265.4c-14.1,14.1-14.1,36.9,0,50.9l25.5,25.5l25.5-25.5c14.1-14.1,14.1-36.9,0-50.9  C-308.6,251.3-331.4,251.3-345.5,265.4z M-307.3,303.6c-7,7-18.4,7-25.5,0c-7-7-7-18.4,0-25.5s18.4-7,25.5,0  C-300.2,285.1-300.2,296.5-307.3,303.6z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">El Gambino NY</p>
                                            </div>
                                            <div class="vacancies__inner__svg__box">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                                                        xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                                        xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="0 0 100 100"
                                                        style="enable-background:new 0 0 100 100;max-width:100%"
                                                        xml:space="preserve" height="100%">
                                                        <switch fill="currentColor">
                                                            <foreignObject
                                                                requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                                                x="0" y="0" width="1" height="1" fill="currentColor">
                                                            </foreignObject>
                                                            <g i:extraneous="self" fill="currentColor">
                                                                <g fill="currentColor">
                                                                    <path
                                                                        d="M25.9,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.7,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C24.8,20.3,24.1,25.4,25.9,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M45.1,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2.1-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.8,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C44,20.3,43.3,25.4,45.1,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M64.3,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.7,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C63.2,20.3,62.5,25.4,64.3,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M88.5,88.2h-77c-1.6,0-2.9,1.3-2.9,2.9v3.5c0,1.6,1.3,2.9,2.9,2.9h77c1.6,0,2.9-1.3,2.9-2.9v-3.5     C91.4,89.5,90.1,88.2,88.5,88.2z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M54.6,55.5c12.9,2.6,22.7,13.9,22.7,27.6h7.8c0-17.6-12.9-32.1-29.7-34.7v-1.8c0-3-2.4-5.4-5.4-5.4c-3,0-5.4,2.4-5.4,5.4     v1.8C27.8,51,14.9,65.6,14.9,83.1h55.2C69.6,71.6,63.6,61.6,54.6,55.5z"
                                                                        fill="currentColor"></path>
                                                                </g>
                                                            </g>
                                                        </switch>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">20 hours per week</p>
                                            </div>
                                            <div class="vacancies__inner__svg__box__end">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="0 0 100 100"
                                                        enable-background="new 0 0 100 100" xml:space="preserve"
                                                        style="max-width:100%" height="100%">
                                                        <path
                                                            d="M65.137,45.097c-3.602,4.001-9.022,6.44-15.137,6.44c-6.107,0-11.522-2.433-15.125-6.426  c-2.256,1.48-4.689,2.124-7.912,2.124c-0.514,0-1.022-0.028-1.524-0.077l2.424,13.675c0.08,0.452,0.12,0.912,0.12,1.373v0.157  c0,0,0,0,0,0h44.033h0v-0.157c0-0.461,0.04-0.92,0.12-1.373l2.424-13.675c-0.502,0.049-1.01,0.077-1.525,0.077  C69.977,47.236,67.433,46.547,65.137,45.097z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M27.984,65.364C27.984,65.364,27.984,65.364,27.984,65.364l0,12.405c0,3.937,2.883,7.129,6.44,7.129h15.358h0.438h15.358  c3.557,0,6.44-3.192,6.44-7.129V65.364h0H27.984z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M73.037,19.404c-2.741,0-5.335,0.873-7.509,2.526c-0.033,0.029-0.067,0.058-0.104,0.085  c-0.66,0.499-1.596,0.372-2.096-0.287c-3.192-4.211-8.051-6.626-13.329-6.626c-5.274,0-10.132,2.413-13.324,6.621  c-0.47,0.616-1.332,0.776-1.987,0.366c-0.067-0.041-0.13-0.087-0.188-0.138c-2.18-1.667-4.784-2.548-7.537-2.548  c-6.847,0-12.416,5.569-12.416,12.416s5.569,12.416,12.416,12.416c2.531,0,4.374-0.457,6.085-1.526  c-1.16-1.83-1.994-3.884-2.424-6.111C30.467,35.786,31,35,31.813,34.842c0.804-0.155,1.6,0.374,1.757,1.188  c1.422,7.363,8.178,12.507,16.43,12.507c8.255,0,15.011-5.146,16.431-12.514c0.156-0.813,0.939-1.346,1.757-1.188  c0.813,0.156,1.346,0.943,1.188,1.757c-0.428,2.223-1.259,4.275-2.415,6.103c1.758,1.052,3.683,1.541,6.076,1.541  c6.847,0,12.416-5.569,12.416-12.416S79.883,19.404,73.037,19.404z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">5+ years experience</p>
                                            </div>
                                        </div>
                                        <div class="vacancies__list__inner__button">
                                            <div class="vacancies__inner__button">
                                                <a data-component="button" class="vacancies__inner__button__link"
                                                    href="contacts.html">
                                                    <span class="vacancies__inner__button__text">Send CV</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__grid__cook">
                                <div class="vacancies__grid__list__padding">
                                    <div class="vacancies__list__inner">
                                        <div class="vacancies__list__inner__image">
                                            <img class="vacancies__image"
                                                src="img/about-us/vacancies/vacancies-cook.svg" alt="icon">
                                        </div>
                                        <div class="vacancies__list__inner__text">
                                            <p class="vacancies__inner__text__cook">Cook</p>
                                            <p class="vacancies__inner__text__month">$ 3.5000/ month</p>
                                        </div>
                                        <div class="vacancies__list__inner__svg">
                                            <div class="vacancies__inner__svg__box">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="-370 248.3 100 100"
                                                        enable-background="new -370 248.3 100 100" xml:space="preserve"
                                                        style="max-width:100%" height="100%">
                                                        <path fill="currentColor"
                                                            d="M-345.5,265.4c-14.1,14.1-14.1,36.9,0,50.9l25.5,25.5l25.5-25.5c14.1-14.1,14.1-36.9,0-50.9  C-308.6,251.3-331.4,251.3-345.5,265.4z M-307.3,303.6c-7,7-18.4,7-25.5,0c-7-7-7-18.4,0-25.5s18.4-7,25.5,0  C-300.2,285.1-300.2,296.5-307.3,303.6z">
                                                        </path>
                                                        </path>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">El Gambino NY</p>
                                            </div>
                                            <div class="vacancies__inner__svg__box">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                                                        xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                                        xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="0 0 100 100"
                                                        style="enable-background:new 0 0 100 100;max-width:100%"
                                                        xml:space="preserve" height="100%">
                                                        <switch fill="currentColor">
                                                            <foreignObject
                                                                requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                                                x="0" y="0" width="1" height="1" fill="currentColor">
                                                            </foreignObject>
                                                            <g i:extraneous="self" fill="currentColor">
                                                                <g fill="currentColor">
                                                                    <path
                                                                        d="M25.9,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.7,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C24.8,20.3,24.1,25.4,25.9,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M45.1,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2.1-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.8,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C44,20.3,43.3,25.4,45.1,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M64.3,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.7,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C63.2,20.3,62.5,25.4,64.3,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M88.5,88.2h-77c-1.6,0-2.9,1.3-2.9,2.9v3.5c0,1.6,1.3,2.9,2.9,2.9h77c1.6,0,2.9-1.3,2.9-2.9v-3.5     C91.4,89.5,90.1,88.2,88.5,88.2z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M54.6,55.5c12.9,2.6,22.7,13.9,22.7,27.6h7.8c0-17.6-12.9-32.1-29.7-34.7v-1.8c0-3-2.4-5.4-5.4-5.4c-3,0-5.4,2.4-5.4,5.4     v1.8C27.8,51,14.9,65.6,14.9,83.1h55.2C69.6,71.6,63.6,61.6,54.6,55.5z"
                                                                        fill="currentColor"></path>
                                                                </g>
                                                            </g>
                                                        </switch>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">40 hours per week</p>
                                            </div>
                                            <div class="vacancies__inner__svg__box__end">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="0 0 100 100"
                                                        enable-background="new 0 0 100 100" xml:space="preserve"
                                                        style="max-width:100%" height="100%">
                                                        <path
                                                            d="M65.137,45.097c-3.602,4.001-9.022,6.44-15.137,6.44c-6.107,0-11.522-2.433-15.125-6.426  c-2.256,1.48-4.689,2.124-7.912,2.124c-0.514,0-1.022-0.028-1.524-0.077l2.424,13.675c0.08,0.452,0.12,0.912,0.12,1.373v0.157  c0,0,0,0,0,0h44.033h0v-0.157c0-0.461,0.04-0.92,0.12-1.373l2.424-13.675c-0.502,0.049-1.01,0.077-1.525,0.077  C69.977,47.236,67.433,46.547,65.137,45.097z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M27.984,65.364C27.984,65.364,27.984,65.364,27.984,65.364l0,12.405c0,3.937,2.883,7.129,6.44,7.129h15.358h0.438h15.358  c3.557,0,6.44-3.192,6.44-7.129V65.364h0H27.984z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M73.037,19.404c-2.741,0-5.335,0.873-7.509,2.526c-0.033,0.029-0.067,0.058-0.104,0.085  c-0.66,0.499-1.596,0.372-2.096-0.287c-3.192-4.211-8.051-6.626-13.329-6.626c-5.274,0-10.132,2.413-13.324,6.621  c-0.47,0.616-1.332,0.776-1.987,0.366c-0.067-0.041-0.13-0.087-0.188-0.138c-2.18-1.667-4.784-2.548-7.537-2.548  c-6.847,0-12.416,5.569-12.416,12.416s5.569,12.416,12.416,12.416c2.531,0,4.374-0.457,6.085-1.526  c-1.16-1.83-1.994-3.884-2.424-6.111C30.467,35.786,31,35,31.813,34.842c0.804-0.155,1.6,0.374,1.757,1.188  c1.422,7.363,8.178,12.507,16.43,12.507c8.255,0,15.011-5.146,16.431-12.514c0.156-0.813,0.939-1.346,1.757-1.188  c0.813,0.156,1.346,0.943,1.188,1.757c-0.428,2.223-1.259,4.275-2.415,6.103c1.758,1.052,3.683,1.541,6.076,1.541  c6.847,0,12.416-5.569,12.416-12.416S79.883,19.404,73.037,19.404z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">2+ years experience</p>
                                            </div>
                                        </div>
                                        <div class="vacancies__list__inner__button">
                                            <div class="vacancies__inner__button">
                                                <a data-component="button" class="vacancies__inner__button__link"
                                                    href="contacts.html">
                                                    <span class="vacancies__inner__button__text">Send CV</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vacancies__grid__cook">
                                <div class="vacancies__grid__list__padding">
                                    <div class="vacancies__list__inner">
                                        <div class="vacancies__list__inner__image">
                                            <img class="vacancies__image"
                                                src="img/about-us/vacancies/vacancies-cook2.svg" alt="icon">
                                        </div>
                                        <div class="vacancies__list__inner__text">
                                            <p class="vacancies__inner__text__cook">Cook</p>
                                            <p class="vacancies__inner__text__month">$ 3.5000/ month</p>
                                        </div>
                                        <div class="vacancies__list__inner__svg">
                                            <div class="vacancies__inner__svg__box">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="-370 248.3 100 100"
                                                        enable-background="new -370 248.3 100 100" xml:space="preserve"
                                                        style="max-width:100%" height="100%">
                                                        <path fill="currentColor"
                                                            d="M-345.5,265.4c-14.1,14.1-14.1,36.9,0,50.9l25.5,25.5l25.5-25.5c14.1-14.1,14.1-36.9,0-50.9  C-308.6,251.3-331.4,251.3-345.5,265.4z M-307.3,303.6c-7,7-18.4,7-25.5,0c-7-7-7-18.4,0-25.5s18.4-7,25.5,0  C-300.2,285.1-300.2,296.5-307.3,303.6z">
                                                        </path>
                                                        </path>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">El Gambino NY</p>
                                            </div>
                                            <div class="vacancies__inner__svg__box">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/"
                                                        xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                                        xmlns:graph="http://ns.adobe.com/Graphs/1.0/"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="0 0 100 100"
                                                        style="enable-background:new 0 0 100 100;max-width:100%"
                                                        xml:space="preserve" height="100%">
                                                        <switch fill="currentColor">
                                                            <foreignObject
                                                                requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/"
                                                                x="0" y="0" width="1" height="1" fill="currentColor">
                                                            </foreignObject>
                                                            <g i:extraneous="self" fill="currentColor">
                                                                <g fill="currentColor">
                                                                    <path
                                                                        d="M25.9,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.7,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C24.8,20.3,24.1,25.4,25.9,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M45.1,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2.1-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.8,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C44,20.3,43.3,25.4,45.1,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M64.3,29.8l1.4,3.4c0.6,1.5,2,2.3,3.5,2.3c0.5,0,1-0.1,1.4-0.3c1.9-0.8,2.8-3,2-4.9l-1.4-3.4c-0.8-1.8-0.4-3.9,0.8-5.5     c3.1-3.7,3.8-8.7,2-13.2l-1.4-3.4c-0.8-1.9-3-2.8-4.9-2.1c-1.9,0.8-2.8,3-2,4.9l1.4,3.4c0.8,1.8,0.4,3.9-0.8,5.5     C63.2,20.3,62.5,25.4,64.3,29.8z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M88.5,88.2h-77c-1.6,0-2.9,1.3-2.9,2.9v3.5c0,1.6,1.3,2.9,2.9,2.9h77c1.6,0,2.9-1.3,2.9-2.9v-3.5     C91.4,89.5,90.1,88.2,88.5,88.2z"
                                                                        fill="currentColor"></path>
                                                                    <path
                                                                        d="M54.6,55.5c12.9,2.6,22.7,13.9,22.7,27.6h7.8c0-17.6-12.9-32.1-29.7-34.7v-1.8c0-3-2.4-5.4-5.4-5.4c-3,0-5.4,2.4-5.4,5.4     v1.8C27.8,51,14.9,65.6,14.9,83.1h55.2C69.6,71.6,63.6,61.6,54.6,55.5z"
                                                                        fill="currentColor"></path>
                                                                </g>
                                                            </g>
                                                        </switch>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">40 hours per week</p>
                                            </div>
                                            <div class="vacancies__inner__svg__box__end">
                                                <div class="vacancies__inner__svg">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                        y="0px" viewBox="0 0 100 100"
                                                        enable-background="new 0 0 100 100" xml:space="preserve"
                                                        style="max-width:100%" height="100%">
                                                        <path
                                                            d="M65.137,45.097c-3.602,4.001-9.022,6.44-15.137,6.44c-6.107,0-11.522-2.433-15.125-6.426  c-2.256,1.48-4.689,2.124-7.912,2.124c-0.514,0-1.022-0.028-1.524-0.077l2.424,13.675c0.08,0.452,0.12,0.912,0.12,1.373v0.157  c0,0,0,0,0,0h44.033h0v-0.157c0-0.461,0.04-0.92,0.12-1.373l2.424-13.675c-0.502,0.049-1.01,0.077-1.525,0.077  C69.977,47.236,67.433,46.547,65.137,45.097z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M27.984,65.364C27.984,65.364,27.984,65.364,27.984,65.364l0,12.405c0,3.937,2.883,7.129,6.44,7.129h15.358h0.438h15.358  c3.557,0,6.44-3.192,6.44-7.129V65.364h0H27.984z"
                                                            fill="currentColor"></path>
                                                        <path
                                                            d="M73.037,19.404c-2.741,0-5.335,0.873-7.509,2.526c-0.033,0.029-0.067,0.058-0.104,0.085  c-0.66,0.499-1.596,0.372-2.096-0.287c-3.192-4.211-8.051-6.626-13.329-6.626c-5.274,0-10.132,2.413-13.324,6.621  c-0.47,0.616-1.332,0.776-1.987,0.366c-0.067-0.041-0.13-0.087-0.188-0.138c-2.18-1.667-4.784-2.548-7.537-2.548  c-6.847,0-12.416,5.569-12.416,12.416s5.569,12.416,12.416,12.416c2.531,0,4.374-0.457,6.085-1.526  c-1.16-1.83-1.994-3.884-2.424-6.111C30.467,35.786,31,35,31.813,34.842c0.804-0.155,1.6,0.374,1.757,1.188  c1.422,7.363,8.178,12.507,16.43,12.507c8.255,0,15.011-5.146,16.431-12.514c0.156-0.813,0.939-1.346,1.757-1.188  c0.813,0.156,1.346,0.943,1.188,1.757c-0.428,2.223-1.259,4.275-2.415,6.103c1.758,1.052,3.683,1.541,6.076,1.541  c6.847,0,12.416-5.569,12.416-12.416S79.883,19.404,73.037,19.404z"
                                                            fill="currentColor"></path>
                                                    </svg>
                                                </div>
                                                <p class="vacancies__inner__svg__text">2+ years experience</p>
                                            </div>
                                        </div>
                                        <div class="vacancies__list__inner__button">
                                            <div class="vacancies__inner__button">
                                                <a data-component="button" class="vacancies__inner__button__link"
                                                    href="contacts.html">
                                                    <span class="vacancies__inner__button__text">Send CV</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>