<section class="news">
    <div class="news-intro">
        <p>- NEWS -</p>
        <h2>Our News & Articles</h2>
        <p>Read more about Italian cuisine.</p>
    </div>
    <div class="news-main-info">
        <article>
            <h3>Wine Pairing: What Is It?</h3>
            <p>Wine pairing is the process of matching food and wines based on their flavor...</p>
            <a href="#">READ MORE</a>
        </article>
        <div>
            <article>
                <img width="425" src="img/news/mussel.jpg" alt="You should see plate of mussel"> 
                <h3>The Best Mediterranean Mussel
                Recipes by El Gambino</h3>
                <p>Mussels are popular because they are hearty, flavorful, and full of nutrients. Mussels are a great
                    source
                    of protein, vitamins and minerals. </p>
                <a href="#">READ MORE</a>
            </article>
            <article>
                <img width="425" src="img/news/meat.jpg" alt="You should see plate of meat">
                <h3>What Types of Meat Do We Use for Juicy Steaks?</h3>
                <p>The best types of meat for juicy steaks are ribeye, strip, tenderloin, and filet mignon. Ribeye
                    steaks
                    are known for their excellent marbling. </p>
                <a href="#">READ MORE</a>
            </article>
        </div>
    </div>
</section>