<section class="about-us" id="about-us">
  <div class="about-us">
    <img class="about-us__restaurant-table" src="img/about-us/about us.png" alt="about us photo">
    <div class="about-us__text">
      <p class="about-us__first-subtitle">- ABOUT US -</p>
      <h2 class="about-us__title">Passion for Food: Get to Know Our Restaurant</h2>
      <p class="about-us__first-paragraph">El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago.</p>
       <div class="about-us__paragraph">
         <p>Come to the perfect place for a delicious breakfast, perhaps for a cup of cappuccino to lift your mood after your hard working day.</p>
         <p>For four decades, El Gambino restaurant has been serving the local community with the world's famous cuisines. Our diversified menu offers a wide selection of meals for any taste. Visit us to feel the warmth of our hospitality and to enjoy your favorite cuisine!</p>
       </div>
       <a href="about-us.html" target="_blank"> 
         <button class="read-more-button">Read more</button>
       </a>
    </div>
  </div>
</section>
