<section id="catering">
    <div class="catering">
        <div>
            <img src="img/catering/shrimps.jpg" alt="Picture of shrimps" class="catering__photo">
        </div>
        <div class="catering__content">
            <p class="catering__content--subtitle">- CATERING -</p>
            <h2 class="catering__content--title">We Cater Any Events</h2>
            <img src="img/catering/line.jpg" alt="Line" class="catering__content--line">
            <p class="catering__content--text-upper">Celebrate with us your special events or private parties and
                surprise your guests with our seasonal culinary delights.</p>
            <p class="catering__content--text-lower">El Gambino is proud to cater any events, ranging from birthday
                parties, sweet 16th, anniversaries, to large corporate events, university-related parties, and weddings.
                Celebrate with us your
                special event or private party and surprise your guests with our seasonal culinary delights!</p>
            <div class="catering__content--box">
                <img src="/img/catering/cake.svg" alt="Picture of cake" class="catering__content--img">
                <div>
                    <h3 class="catering__content--headline">Birthdays</h3>
                    <p class="catering__content--text-lower">Celebrate your birthday party with the best dishes and
                        enjoy the
                        panoramic views from El Gambino NY.</p>
                </div>
            </div>
            <div class="catering__content--box">
                <img src="img/catering/cooking.svg" alt="Picture of cooking" class="catering__content--img">
                <div>
                    <h3 class="catering__content--headline">Private Dining Room</h3>
                    <p class="catering__content--text-lower">Our newly appointed Private Dining Room at El Gambino
                        Boston seats
                        up to ten guests. Perfect for your events!</p>
                </div>
            </div>
            <div class="catering__content--box">
                <img src="img/catering/skewer.svg" alt="Picture of skewer" class="catering__content--img">
                <div>
                    <h3 class="catering__content--headline">Corporate Parties</h3>
                    <p class="catering__content--text-lower">El Gambino Chicago also offers the most spacious event
                        space for
                        large-sized corporate events (20+ people).</p>
                </div>
            </div>
        </div>
    </div>
</section>