<section class="logo-white" >
<div class="container">
    
    <div class="hidding-wrapper">
        <div class="working-hours" >
            <p>WORKING HOURS:  MON-SUN 12 PM - 01 AM</p>
            <div>
                <p>SOCIAL:</p>
                <ul>
                    <li>
                        <a href="#" class="social-link">INSTAGRAM</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">FACEBOOK</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">YOUTUBE</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">TWITTER</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div>
            <nav  class="list-menu">
                <ul class="list-logo">
                    <li>   
                        <a href="#" class="logo-link">
                            <img src="img/header-main/main-logo.svg" alt="logo" class="logo-img"/>
                        </a>
                </li>

                <li>
                    <button class="list-logo-btn" type="button">
                        <span class="list-logo-item"></span>
                    </button>

                </li>

                    <li class="menu-list">
                        <ul class="menu-list-item">
                            <li>
                                <a href="#" class="menu-item">Menu</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">Offers & Discounts</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">Space</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item">Contacts</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
