<section class="offers">
    <div class="offers__title">
        <p class="offers__title__subtitle">- Offers -</p>
        <h2 class="offers__title__name">Special Offers and Discounts</h2>
        <p class="offers__title__text">Get advantage of our special offers and enjoy our dishes!</p>
    </div>
    <div class="offers__list">
        <div class="offers__list__image">
            <img class="offers__list__image" src="img/offers/dinners.jpg" alt="image dinner">
        </div>
        <div class="offers__list__info">
            <p class="offers__list__subtitle">Special Offer</p>
            <p class="offers__list__title">Weekday Dinners 1+1=3</p>
            <p class="offers__list__text">Book a table at El Gambino any weekday from 12 pm till 15 pm and
                enjoy a discounted 3-course dinner!</p>
        </div>
        <div class="offers__list__image">
            <img class="offers__list__image" src="img/offers/sweetday.jpg" alt="image sweet day">
        </div>
        <div class="offers__list__info">
            <p class="offers__list__subtitle">Special Offer</p>
            <p class="offers__list__title">Sweet Days</p>
            <p class="offers__list__text">Grab 3 to 5 friends to have a lunch at our restaurant on Thursday or
                Sunday and get one of our desserts for free!</p>
        </div>
        <div class="offers__list__image">
            <img class="offers__list__image" src="img/offers/cocktails.jpg" alt="image cocktails">
        </div>
        <div class="offers__list__info">
            <p class="offers__list__subtitle">Discount</p>
            <p class="offers__list__title">-50% on All Cocktails</p>
            <p class="offers__list__text">Get a 50% discount on all cocktails in our restaurant every Friday,
                regardless of the amount of the order.</p>
        </div>
    </div>
</section>