<section class="logo-white" >
    <div class="wrapper-orange">
        <div class="container">
    
            <div class="hidding-wrapper">
                <div class="working-hours" >
                    <p class="working-hours-name">WORKING HOURS:   MON-SUN 12 PM - 01 AM</p>
                    <div class="working-hours-social">
                       
                        <p class="social-name">SOCIAL:</p>
                        <ul class="social-list">
                            <li>
                                <a href="https://www.instagram.com/" class="social-link">INSTAGRAM</a> 
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" class="social-link">FACEBOOK</a> 
                            </li>
                            <li>
                                <a href="https://www.youtube.com/" class="social-link">YOUTUBE</a> 
                            </li>
                            <li>
                                <a href="https://twitter.com/" class="social-link">TWITTER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    
    <!-- <div class="hidding-wrapper">
        <div class="working-hours" >
            <p>WORKING HOURS:  MON-SUN 12 PM - 01 AM</p>
            <div class="working-hours-social">
                <p>SOCIAL:</p>
                <ul class="social-list">
                    <li>
                        <a href="#" class="social-link">INSTAGRAM</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">FACEBOOK</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">YOUTUBE</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">TWITTER</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <div> -->
            <nav  class="list-menu">
                <ul class="list-logo">
                    <li>   
                        <a href="index.html" class="logo-link">
                            <img src="img/header-main/main-logo.svg" alt="logo" class="logo-img"/>
                        </a>
                </li>

                <li>
                    <button class="list-logo-btn" type="button" data-modal-open id="modal">
                        <span class="list-logo-item"></span>
                    </button>

                </li>

                    <li class="menu-list">
                        <ul class="menu-list-item">
                            <li class="list-item">
                                <a href="menu.html" class="menu-item">Menu</a>
                            </li>
                            <li class="list-item">
                                <a href="about-us.html" class="menu-item">About Us</a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="menu-item">Offers & Discounts</a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="menu-item">Space</a>
                            </li>
                            <li class="list-item">
                                <a href="#" class="menu-item">Contacts</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Modal -->


    <!-- <div class="backdrop  is-hidden" data-modal>
        <div class="modal">
          <button class="modal-btn-close" type="button" data-modal-close>
            <svg class="modal-btn-close__icon" width="11" height="11">
            
            </svg>
          </button>
  
          <div class="working-hours" >
            <p>WORKING HOURS:  MON-SUN 12 PM - 01 AM</p>
            <div class="working-hours-social">
                <p>SOCIAL:</p>
                <ul class="social-list">
                    <li>
                        <a href="#" class="social-link">INSTAGRAM</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">FACEBOOK</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">YOUTUBE</a> 
                    </li>
                    <li>
                        <a href="#" class="social-link">TWITTER</a>
                    </li>
                </ul>
            </div>
        </div>

        <nav  class="list-menu">
            <ul class="list-logo">
                <li>   
                    <a href="index.html" class="logo-link">
                        <img src="img/header-main/main-logo.svg" alt="logo" class="logo-img"/>
                    </a>
            </li>

            <li>
                <button class="list-logo-btn" type="button">
                    <span class="list-logo-item"></span>
                </button>

            </li>

                <li class="menu-list">
                    <ul class="menu-list-item">
                        <li class="list-item">
                            <a href="menu.html" class="menu-item">Menu</a>
                        </li>

                        <li>
                            <a href="about-us.html" class="menu-item">About Us</a>
                        <li class="list-item">                   
                            <a href="#" class="menu-item">About Us</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="menu-item">Offers & Discounts</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="menu-item">Space</a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="menu-item">Contacts</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

         
        </div>
      </div> -->
     
    <!-- modal -->  
</section>
