<section class="welcome">
    <div class="welcome__blocks__background">
        <div class="welcome__blocks__padding">
            <div class="welcome__blocks__padding__margin">
                <div class="welcome__header">
                    <div class="welcome__header__inner">
                        <p class="welcome__header__subtitle">- Welcome to our restaurants -</p>
                        <div class="welcome__header__name__margin">
                            <h2 class="welcome__header__name">Gourmet Cuisine From Fresh Local Ingredients</h2>
                        </div>
                        <p class="welcome__header__text">Enjoy your favorite dishes in our restaurants!</p>
                    </div>
                </div>
                <div class="welcome__footer">
                    <a data-component="button" class="welcome__footer__button" href="/contacts">
                        <span class="welcome__footer__button__text">Book a Table</span>
                    </a>
                    <a data-component="button" class="welcome__footer__tel" href="tel:+12345678900">
                        <svg class="welcome__footer__tel__svg" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24"
                            style="enable-background:new 0 0 24 24;max-width:100%" xml:space="preserve" height="100%">
                            <path
                                d="M20,15.01c-1.172,0-2.32-0.183-3.408-0.542c-0.531-0.183-1.134-0.042-1.483,0.314l-2.157,1.629  c-2.475-1.321-4.059-2.904-5.362-5.361l1.585-2.106c0.399-0.399,0.542-0.983,0.371-1.53C9.184,6.319,9,5.17,9,4  c0-0.827-0.673-1.5-1.5-1.5H4C3.173,2.5,2.5,3.173,2.5,4c0,9.649,7.851,17.5,17.5,17.5c0.827,0,1.5-0.673,1.5-1.5v-3.49  C21.5,15.683,20.827,15.01,20,15.01z"
                                fill="currentColor"></path>
                        </svg>
                        <span class="welcome__footer__tel__text">+1 (234) 567 89 00</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>