<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us Page | Restaurant Website</title>
    <link rel="shortcut icon" href="img/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="about-us-our-story">
        <h1 class="about-us-our-story__first-subtitle">- OUR STORY -</h1>
        <div class="about-us-our-story__main-title">
            <p class="about-us-our-story__title">Learn More About Our History</p>
            <img src="img\about-us\designer-logo.png" alt="logo">
        </div>
        <p class="about-us-our-story__first-paragraph">For more than 40 years we have been delighting our guests with delicious dishes.</p>
        <div class="about-us-our-story__timeline">
            <div class="about-us-our-story__year">
                <p class="Date">1978</p>
                <div class="about-us-our-story__divider"></div>
                <p class="about-us-our-story__paragraph">Our founder, Peter Manujo, opened his first restaurant, Muelo, in downtown New York.</p>
            </div>
            <div class="about-us-our-story__year">
                <p class="Date">1997</p>
                <div class="about-us-our-story__divider"></div>
                <p class="about-us-our-story__paragraph">The Muelo restaurant was renamed into El Gambino and focused on Italian and Spanish cuisine.</p>
            </div>
            <div class="about-us-our-story__year">
                <p class="Date">2005</p>
                <div class="about-us-our-story__divider"></div>
                <p class="about-us-our-story__paragraph">We expanded our chain and opened two more El Gambino restaurants, in Boston and Chicago.</p>
            </div>
            <div class="about-us-our-story__year">
                <p class="Date">2020</p>
                <div class="about-us-our-story__divider"></div>
                <p class="about-us-our-story__paragraph">TimeToGo named our chain "one of the best Italian restaurant chains in the United States".</p>
            </div>
            <div class="about-us-our-story__last-paragraph">
            <div class="about-us-our-story__location">
                <ul>
                    <li>
                        Our restaurant provides authentic Italian and Spanish cuisine;
                    </li>
                    <li>
                      Our chefs have mastered the art of creating Mediterranean dishes
                    </li>
                    <li>
                      We offer a wide variety of dishes including classic favorites, regional specialties, and contemporary recipes
                    </li>
                </ul>
            </div>
            <div class="about-us-our-story__more">
              <ul>
                <li>Three different locations in the main USA cities with the same menu;</li>
                <li>Our staff is friendly, providing an enjoyable dining experience;</li>
                <li>We offer great prices so you can enjoy Italian and Spanish cuisine without breaking the bank.</li>
              </ul>
              <p>Our restaurant is a great place to enjoy a unique and delicious dining experience! We offer a wide selection of traditional Mediterranean dishes, from classic Spanish tapas to Italian-style pastas. Our ingredients are always fresh, and our chefs are dedicated to creating flavorful dishes that tantalize the taste buds. We also offer a full bar, with a selection of craft beers, wines, and signature cocktails.</p>
            </div>
        </div>           
        </div>
    </div>
</body>
</html>
