<section class="news">
    <div class="news__introduction">
        <p class="news__section-name">- NEWS -</p>
        <h2 class="news__main-title">Our News & Articles</h2>
        <div class="underline_line">
            <img src="img/news/underline.jpg" alt="You should see underline">
        </div>
        <p class="news__introduction-text">Read more about Italian cuisine.</p>
    </div>
    <div class="news__content-main">
        <div class="news__content-wine-card">
            <h3 class="news__content-title-wine-card">Wine Pairing: What Is It?</h3>
            <p class="news__content-text-wine-card">Wine pairing is the process of matching food and wines based on
                their
                flavor...</p>
            <a class="news__content-link-wine-card" href="#">READ MORE</a>
        </div>
        <div class="news__content-mussel-and-meat-card">
            <div class="news__content-mussel-card">
                <div class="news__mussel-image"> <img class="news__mussel-image" src="img/news/mussel.jpg"
                        alt="You should see plate of mussel"> </div>
                <h3 class="news__content-title">The Best Mediterranean Mussel
                    Recipes by El Gambino</h3>
                <p class="news__content-text">Mussels are popular because they are hearty, flavorful, and full of
                    nutrients. Mussels are a great
                    source
                    of protein, vitamins and minerals. </p>
                <div class="news__content-button-container">
                    <a class="news__content-button-text" href="#">Read More</a>
                </div>
            </div>
            <div class="news__content-meat-card">
                <div class="news__meat-image"><img class="news__meat-image" src="img/news/meat.jpg"
                        alt="You should see plate of meat"></div>
                <h3 class="news__content-title">What Types of Meat Do We Use for Juicy Steaks?</h3>
                <p class="news__content-text">The best types of meat for juicy steaks are ribeye, strip, tenderloin, and
                    filet mignon. Ribeye
                    steaks
                    are known for their excellent marbling. </p>
                <div class="news__content-button-container">
                    <a class="news__content-button-text" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>