<section class="contacts">
    <div class="contacts__blocks__orange">
        <div class="contacts__blocks__background__orange">
            <div class="contacts__blocks__padding__orange">
                <div class="contacts__blocks__padding__margin">
                    <div class="contacts__blocks__orange__text">
                        <p class="contacts__orange__text__title">Contacts</p>
                        <div class="contacts__orange__text">
                            <span class="contacts__orange__text__Home">Home >
                                <u class="contacts__orange__text__Location">Location</u>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>