<section class="gift-cards">
    <!-- discount offer -->
    <div class="gift-cards__discount-offer">
        <!-- vouchers -->
        <div class="gift-cards__discount-offer-vouchers vouchers">
            <p class="vouchers__first-subtitle">- GIFT CARDS -</p>
            <h2 class="vouchers__title">Treat Your Loved One to a Dinner!</h2>
            <div class="vouchers__line"></div>
            <p class="vouchers__second-subtitle">Give your friend, colleague, or relative a voucher to visit our
                restaurant.</p>
            <div class="vouchers__conditions-conteiner">
                <a class="vouchers__conditions" href="contacts.html">Conditions</a>
            </div>
        </div>
        <!-- cards -->
        <div class="gift-cards__discount-offer-cardsconteiner cardsconteiner">
            <article class="cardsconteiner__card">
                <div class="cardsconteiner__card-imageconteiner">
                    <img class="cardsconteiner__card-image" width="50" src="img/gift-cards/gift-box.svg" alt="gift box">
                </div>
                <h3 class="cardsconteiner__card-title">$50 Gift Card</h3>
                <p class="cardsconteiner__card-text">This gift card can be used to pay for any dishes and related services in our restaurant during 3
                    months.</p>
                <p class="cardsconteiner__card-subtext">* The gift card does not apply to catering, cocktails, and wine list.</p>
                <div class="cardsconteiner__card-buycontenier">
                    <a class="cardsconteiner__card-buy" href="contacts.html">BUY GIFT CARD</a>
                </div>                   
            </article>
            <article class="cardsconteiner__card">
                <div class="cardsconteiner__card-imageconteiner">
                    <img class="cardsconteiner__card-image" width="50" src="img/gift-cards/gift-box.svg" alt="gift box">
                </div>
                <h3 class="cardsconteiner__card-title">$50 Gift Card</h3>
                <p class="cardsconteiner__card-text">This gift card can be used to pay for any dishes and related services in our restaurant during 6
                    months.</p>
                <p class="cardsconteiner__card-subtext">* The gift card does not apply to catering, cocktails, and wine list.</p>
                <div class="cardsconteiner__card-buycontenier">
                    <a class="cardsconteiner__card-buy" href="contacts.html">BUY GIFT CARD</a>
                </div> 
            </article>
        </div>
    </div>
    <!-- carousel -->
    <div class="gift-cards__carousel">
        <div class="gift-cards__carousel-inner">
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel1.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel2.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel3.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel4.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel5.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel6.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel7.jpg" alt="Souce">
            </div>
            <div class="gift-cards__carousel-item">
                <img class="gift-cards__carousel-item-image" width="105" src="img/gift-cards/image-for-carousel8.jpg" alt="Souce">
            </div>
        </div>
    </div>
</section>