<section>
    <div>
        <p>WORKING HOURS:  MON-SUN 12 PM - 01 AM</p>
        <div>
            <p>SOCIAL:</p>
            <ul>
                <li>
                    <a href="#">INSTAGRAM</a> 
                </li>
                <li>
                    <a href="#">FACEBOOK</a> 
                </li>
                <li>
                    <a href="#">YOUTUBE</a> 
                </li>
                <li>
                    <a href="#">TWITTER</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <nav>
            <ul>
                <li>   
                     <a href="#">
                        <img src="" alt="logo"/>
                    </a>
            </li>
                <li>
                    <ul>
                        <li>
                            <a href="#">Menu</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Offers & Discounts</a>
                        </li>
                        <li>
                            <a href="#">Space</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</section>