<section class="categories">
    <div class="categories__container">
        <div class="categories__upper-part">
            <p class="categories__first-subtitle">- CATEGORIES -</p>
            <h2 class="categories__title">Variety of Dishes to Meet Any Taste</h2>
            <div class="categories__decoration"><img src="img/categories/Decoration.jpg" alt="Decoration border"></div>
            <p class="categories__second-subtitle">We always have something special for you.</p>
        </div>
        <div class="categories_plates">
            <article class="categories__plate-one">
                <div class="categories__image-container">
                    <img class="categories__plate-image" src="img/categories/first plate.jpg" alt="plate with meat">
                </div>
                <div class="categories__plate-text">
                    <span class="categories__plate-name"><a href="#">Main Courses</a></span>
                    <span class="categories__plate-arrow">→</span>
                    <br>
                    <span class="categories__plate-offer">We offer a wide selection of fish and meat dishes.</span>
                </div>
            </article>
            <article class="categories__plate-two">
                <div class="categories__image-container">
                    <img class="categories__plate-image" src="img/categories/second plate.jpg" alt="plate with salad">
                </div>
                <div class="categories__plate-text">
                    <span class="categories__plate-name"><a href="#">Lunch & Dinner</a></span>
                    <span class="categories__plate-arrow">→</span>
                    <br>
                    <span class="categories__plate-offer">Fresh pasta, salads, toasts, and much more.</span>
                </div>
            </article>
            <article class="categories__plate-three">
                <div class="categories__image-container">
                    <img class="categories__plate-image" src="img/categories/third plate.jpg" alt="plate with pasta">
                </div>
                <div class="categories__plate-text">
                    <span class="categories__plate-name"><a href="#">Chef's Specials</a></span>
                    <span class="categories__plate-arrow">→</span>
                    <br>
                    <span class="categories__plate-offer">Try our chef's seasonal menu limited in time!</span>
                </div>
            </article>
        </div>
        <div class="categories__main-photo-container">
            <img class="categories__main-photo" src="img/categories/categories-mainphoto.jpg" alt="Delicious">
        </div>
        <div class="categories__menu">
            <div class="categories__menu-column-one">
                <div class="categories__menu-item">
                    <div class="categories__menu-item-title">
                        <span class="categories__menu-item-name">Duck Confit Poutine</span>
                        <div class="categories__menu-item-underline"></div>
                        <span class="categories__menu-item-price">$24</span>
                    </div>
                    <span class="categories__menu-item-ingredients">Pickled red cabbage, green peas, caramelized onions, duck confit.</span>
                </div>
                <div class="categories__menu-item">
                    <div class="categories__menu-item-title">
                        <span class="categories__menu-item-name">Warm Goat Cheese Salad</span>
                        <div class="categories__menu-item-underline"></div>
                        <span class="categories__menu-item-price">$16</span>
                    </div>
                    <span class="categories__menu-item-ingredients">Mixed greens, sunflower seeds, dried cranberries, pan-fried cheese.</span>
                </div>
                <div class="categories__menu-item">
                    <div class="categories__menu-item-title">
                        <span class="categories__menu-item-name">Beef Tartare</span>
                        <div class="categories__menu-item-underline"></div>
                        <span class="categories__menu-item-price">$25</span>
                    </div>
                    <span class="categories__menu-item-ingredients">Beef filet, fermented cabbage, grilled romaine heart, cashew purée.</span>
                </div>
            </div>
            <div class="categories__menu-column-two">
                <div class="categories__menu-item">
                    <div class="categories__menu-item-title">
                        <span class="categories__menu-item-name">Creamy Mac and Cheese</span>
                        <div class="categories__menu-item-underline"></div>
                        <span class="categories__menu-item-price">$20</span>
                    </div>
                    <span class="categories__menu-item-ingredients">Homemade pasta and freshly made and warmed up creamy cheese sauce.</span>
                </div>
                <div class="categories__menu-item">
                    <div class="categories__menu-item-title">
                        <span class="categories__menu-item-name">Grilled Vegetables Salad</span>
                        <div class="categories__menu-item-underline"></div>
                        <span class="categories__menu-item-price">$35</span>
                    </div>
                    <span class="categories__menu-item-ingredients">Roasted vegetables, celeriac purée, sunflower seeds, black olive crumble.</span>
                </div>
                <div class="categories__menu-item">
                    <div class="categories__menu-item-title">
                        <span class="categories__menu-item-name">Chicken A La King</span>
                        <div class="categories__menu-item-underline"></div>
                        <span class="categories__menu-item-price">$25</span>
                    </div>
                    <span class="categories__menu-item-ingredients">Creamy white sauce with poached chicken pieces, mushrooms, garlic.</span>
                </div>
            </div>
        </div>
        <div class="categories__buttons">
            <span><a href="#categories-up"><button class="categories__first-button" type="button" name="pdf download">Download PDF</button></a></span>
            <span><a href="menu.html"><button class="categories__second-button" type="button" name="full menu">Open Full Menu</button></a></span>
        </div>
    </div>
</section>