<section class="description">
    <div class="description__blocks__background">
        <div class="description__blocks__padding">
            <div class="description__blocks__inner">
                <div class="description__blocks__image__wrap">
                    <div class="description__blocks__img__wrap">
                        <img class="description__blocks__image" src="img/description/description.jpg" alt="img">
                    </div>
                </div>
                <div class="description__blocks__text__wrap">
                    <div class="description__blocks__text__wrap__padding">
                        <div class="description__blocks__text__wrap__inner">
                            <div class="description__blocks__text__padding">
                                <div class="description__blocks__text">
                                    <p class="description__blocks__text__subtitle">- Description -</p>
                                    <h2 class="description__blocks__text__title">About Our Restaurant</h2>
                                    <div>
                                        <img class="description__blocks__title__image" src="img/description/line.jpg"
                                            alt="img">
                                    </div>
                                    <p class="description__blocks__text__undertitle">All the best dishes from the
                                        Mediterranean cuisine.</p>
                                    <p class="description__blocks__text__gambino">El Gambino is a chain of three
                                        top-rated Italian restaurants, conveniently located in New York, Boston, and
                                        Chicago. For four decades, El Gambino restaurant has been serving the local
                                        community with the world's famous cuisines. Our diversified menu has something
                                        special to meet any taste.</p>
                                    <div class="description__block__svg">
                                        <div class="description__string__svg">
                                            <div class="description__svg">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                                                    xml:space="preserve" style="max-width:100%" height="100%">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M34.299,89.102C18.86,84.527-25.674,64.976,24.795,0  c27.291,18.521,37.807,34.817,39.754,48.283c-13.054,4.675-22.041,13.764-20.921,30.208c-7.11-16.909-12.688-40.295-15.081-54.876  C27.347,40.648,29.86,70.944,34.299,89.102z"
                                                        fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M51.772,93.184C48.014,82.738,40.207,48.778,98.54,50.65  c1.712,53.348-26.544,51.379-39.376,47.778c5.312-10.34,12.15-19.672,20.803-27.551C69.352,76.754,59.899,84.209,51.772,93.184z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <p class="description__text__svg">Signature Mediterranean dishes;</p>
                                        </div>
                                        <div class="description__string__svg">
                                            <div class="description__svg">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                                                    xml:space="preserve" style="max-width:100%" height="100%">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M34.299,89.102C18.86,84.527-25.674,64.976,24.795,0  c27.291,18.521,37.807,34.817,39.754,48.283c-13.054,4.675-22.041,13.764-20.921,30.208c-7.11-16.909-12.688-40.295-15.081-54.876  C27.347,40.648,29.86,70.944,34.299,89.102z"
                                                        fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M51.772,93.184C48.014,82.738,40.207,48.778,98.54,50.65  c1.712,53.348-26.544,51.379-39.376,47.778c5.312-10.34,12.15-19.672,20.803-27.551C69.352,76.754,59.899,84.209,51.772,93.184z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <p class="description__text__svg">Many vegan and vegetarian options;</p>
                                        </div>
                                        <div class="description__string__svg__none">
                                            <div class="description__svg">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                                                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                                                    xml:space="preserve" style="max-width:100%" height="100%">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M34.299,89.102C18.86,84.527-25.674,64.976,24.795,0  c27.291,18.521,37.807,34.817,39.754,48.283c-13.054,4.675-22.041,13.764-20.921,30.208c-7.11-16.909-12.688-40.295-15.081-54.876  C27.347,40.648,29.86,70.944,34.299,89.102z"
                                                        fill="currentColor"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M51.772,93.184C48.014,82.738,40.207,48.778,98.54,50.65  c1.712,53.348-26.544,51.379-39.376,47.778c5.312-10.34,12.15-19.672,20.803-27.551C69.352,76.754,59.899,84.209,51.772,93.184z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <p class="description__text__svg">High quality of products in all our
                                                restaurants.</p>
                                        </div>
                                    </div>
                                    <p class="description__blocks__text__atmosphere">Our atmosphere is warm and
                                        inviting, perfect for any occasion, whether you're looking for a romantic dinner
                                        or a casual night out with friends. Come and experience the exquisite flavors of
                                        the Mediterranean with us!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>