<section class="categories">
    <div class="categories__upper-part">
        <p class="categories__first-subtitle">- CATEGORIES -</p>
        <h2 class="categories__title">Variety of Dishes to Meet Any Taste</h2>
        <p class="categories__second-subtitle">We always have something special for you.</p>
    </div>
    <div class="categories_plates plates">
        <article class="plates__plate plate">
            <div class="plate__image-container">
                <img class="plate__image" src="img/categories/first plate.jpg" alt="plate with meat" width="120">
            </div>
            <span class="plate__name"><a href="#">Main Courses</a></span4>
                <span class="plate__arrow">→</span>
                <span class="plate__offer">We offer a wide selection of fish and meat dishes.</span>
        </article>
        <article class="plates__plate plate">
            <div class="plate__image-container">
                <img class="plate__image" src="img/categories/second plate.jpg" alt="plate with salad" width="120">
            </div>
            <span class="plate__name"><a href="#">Lunch & Dinner</a></span>
            <span class="plate__arrow">→</span>
            <span class="plate__offer">Fresh pasta, salads, toasts, and much more.</span>
        </article>
        <article class="plates__plate plate">
            <div class="plate__image-container">
                <img class="plate__image" src="img/categories/third plate.jpg" alt="plate with pasta" width="120">
            </div>
            <span class="plate__name"><a href="#">Chef's Specials</a></span>
            <span class="plate__arrow">→</span>
            <span class="plate__offer">Try our chef's seasonal menu limited in time!</span>
        </article>
    </div>
    <div class="categories__main-photo"></div>
    <div class="categories__menu">
        <div class="categories__menu-column-one">
            <div class="categories__menu-item">
                <span class="categories__menu-item-name">Duck Confit Poutine</span>
                <span class="categories__menu-item-price">$24</span>
                <br>
                <span class="categories__menu-item-ingredients">Pickled red cabbage, green peas, caramelized onions,
                    duck confit.</span>
            </div>
            <div class="categories__menu-item">
                <span class="categories__menu-item-name">Warm Goat Cheese Salad</span>
                <span class="categories__menu-item-price">$16</span>
                <br>
                <span class="categories__menu-item-ingredients">Mixed greens, sunflower seeds, dried cranberries,
                    pan-fried cheese.</span>
            </div>
            <div class="categories__menu-item">
                <span class="categories__menu-item-name">Beef Tartare</span>
                <span class="categories__menu-item-price">$25</span>
                <br>
                <span class="categories__menu-item-ingredients">Beef filet, fermented cabbage, grilled romaine heart,
                    cashew purée.</span>
            </div>
        </div>
        <div class="categories__menu-column-two">
            <div class="categories__menu-item">
                <span class="categories__menu-item-name">Creamy Mac and Cheese</span>
                <span class="categories__menu-item-price">$20</span>
                <br>
                <span class="categories__menu-item-ingredients">Homemade pasta and freshly made and warmed up creamy
                    cheese sauce.</span>
            </div>
            <div class="categories__menu-item">
                <span class="categories__menu-item-name">Grilled Vegetables Salad</span>
                <span class="categories__menu-item-price">$35</span>
                <br>
                <span class="categories__menu-item-ingredients">Roasted vegetables, celeriac purée, sunflower seeds,
                    black olive crumble.</span>
            </div>
            <div class="categories__menu-item">
                <span class="categories__menu-item-name">Chicken A La King</span>
                <span class="categories__menu-item-price">$25</span>
                <br>
                <span class="categories__menu-item-ingredients">Creamy white sauce with poached chicken pieces,
                    mushrooms, garlic.</span>
            </div>
        </div>
    </div>
    <div class="categories__buttons">
        <span><button class="categories__first-button" type="button" name="pdf download">Download PDF</button></span>
        <span><button class="categories__second-button" type="button" name="menu">Open Full Menu</button></span>
    </div>
</section>