<section class="menu--container">
    <section class="menu--menu-section">
        <article id="chefs-specials-title" class="menu--menu-article">
            <h2 class="menu--menu-title">- SPECIALS -</h2>              
            <div class="menu--menu-subtitle-description">      
                <div>
                    <h3 class="menu--menu-subtitle">Chef's Specials</h3>   
                    <img class="menu--filler" src="img/menu/filler.png" alt="filler">  
                </div>            
                <p class="menu--menu-description">Don't miss the chance to try our chef's seasonal 
                    menu limited in time! The items on this menu may 
                    vary depending on the selected restaurant.
                </p>
            </div>
            <div id="chefs-specials" class="menu--menu-all-items">
            </div>    
        </article>
        <article id="lunch-title" class="menu--menu-article">
            <h2 class="menu--menu-title">- LUNCH -</h2>
            <div class="menu--menu-subtitle-description">      
                <div>
                    <h3 class="menu--menu-subtitle">Lunch & Dinner</h3>  
                    <img class="menu--filler" src="img/menu/filler.png" alt="filler">  
                </div>
                <p class="menu--menu-description">Fresh pasta, salads, soups, toasts, and many
                    more dishes are waiting 
                    for you. Eat well and enjoy your meal!
                </p>
            </div>
            <div id="lunch" class="menu--menu-all-items">
            </div>            
        </article>
        <article id="main-courses-title" class="menu--menu-article">
            <h2 class="menu--menu-title">- MAIN -</h2>
            <div class="menu--menu-subtitle-description">            
                <div>
                    <h3 class="menu--menu-subtitle">Main Courses</h3>
                    <img class="menu--filler" src="img/menu/filler.png" alt="filler">  
                </div>
                <p class="menu--menu-description">
                    We offer a wide selection of fish and meat 
                    dishes, as well as some vegan and vegetarian 
                    options for our guests.
                </p>
            </div>   
            <div id="main-courses" class="menu--menu-all-items">
            </div>      
        </article>
        <article id="drinks-title" class="menu--menu-article">
            <h2 class="menu--menu-title">- DRINKS -</h2>
            <div class="menu--menu-subtitle-description">           
                <div>
                    <h3 class="menu--menu-subtitle">Drinks & Wines</h3>
                    <img class="menu--filler" src="img/menu/filler.png" alt="filler">  
                </div>
                <p class="menu--menu-description">
                    Enjoy refreshing drinks and the best wines in 
                    our restaurant. Prices are per glass (150 ml); 
                    bottles are also available.
                </p>
            </div>     
            <div id="drinks" class="menu--menu-all-items"> 
            </div>    
        </article>
        <article id="desesrts-title" class="menu--menu-article">
            <h2 class="menu--menu-title">- DESSERTS -</h2>
            <div class="menu--menu-subtitle-description">    
                <div>
                    <h3 class="menu--menu-subtitle">Desserts</h3>
                    <img class="menu--filler" src="img/menu/filler.png" alt="filler">  
                </div>
                <p class="menu--menu-description">
                    Do you want something sweet with a cup of tea 
                    or coffee? We offer a wide range of delicious desserts.
                </p>
            </div>        
            <div id="deserts" class="menu--menu-all-items">
            </div>  
        </article>
    </section>
    <section class="menu--reserve-section">
        <article class="menu--reserve-article menu--reserve-container">
            <div class="menu--reserve-div">
                <h2 class="menu--reserve-title">- RESERVE -</h2>
                <h3 class="menu--reserve-subtitle">Want to Reserve a Table?</h3>
                <img class="menu--filler-white" src="img/menu/filler-white.png" alt="filler">  
                <p class="menu--reserve-description">
                    Feel free to contact us or fill out the form.
                </p>
                <div class="menu--reserve-book-a-table-buttn-div">
                    <a class="menu--reserve-book-a-table-buttn-a" href="contacts.html"><img src="img/menu/book-a-table-buttn.png" alt="Button book a table" height="42" width="144"/a>
                </div>
            </div>      
        </article>
    </section>
    <section class="menu--add-section">
        <div class="menu--add-section--box">
            <div class="menu--add-section--box--img">
                <img src="img/menu/menu_add_section_delivery.jpg" alt="add section delivery">
            </div>
            <div class="menu--add-section--box-title-description">
                <h4 class="menu--menu-item-title">
                    Delivery
                </h4>
                <p class="menu--menu-item-description">
                    Order door-to-door food delivery service and enjoy your favorite food in the convenience of your home.
                </p>
            </div> 
        </div>
        <div class="menu--add-section--box">
            <div class="menu--add-section--box--img">
                <img src="img/menu/menu_add_section_parking.jpg" alt="add section parking">
            </div> 
            <div class="menu--add-section--box-title-description">
                <h4 class="menu--menu-item-title">
                    Free Parking Lot
                </h4>
                <p class="menu--menu-item-description">
                    We are happy to offer free and safeguarded parking lot to both new and regular clients
                </p>
            </div>  
        </div>
        <div class="menu--add-section--box menu--add-section--centred">
            <div class="menu--add-section--box--img">
                <img src="img/menu/menu_add_section_reservation.jpg" alt="add section reservation">
            </div>
            <div class="menu--add-section--box-title-description">
                <h4 class="menu--menu-item-title">
                    Table Reservation
                </h4>
                <p class="menu--menu-item-description">
                    Our restaurants are quite popular, so we recommend you to call us in advance if you want to book a table.
                </p>
            </div>
        </div>
    </section>
</section>