<section class="menu-title">
    <div class="menu-title__blocks__orange">
        <div class="menu-title__blocks__background__orange">
            <div class="menu-title__blocks__padding__orange">
                <div class="menu-title__blocks__padding__margin">
                    <div class="menu-title__blocks__orange__text">
                        <p class="menu-title__orange__text__title">Menu</p>
                        <div class="menu-title__orange__text">
                            <span class="menu-title__orange__text__Home">Home >
                                <u class="menu-title__orange__text__Location">Menu</u>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>