<section class="menu-title">
    <div class="menu-title__blocks__orange">
        <div class="menu-title__blocks__background__orange">
            <div class="menu-title__blocks__padding__orange">
                <div class="menu-title__blocks__padding__margin">
                    <div class="menu-title__blocks__orange__text">
                        <p class="menu-title__orange__text__title">Menu</p>
                        <div class="menu-title__orange__text">
                            <span class="menu-title__orange__text__Home">Home >
                                <u class="menu-title__orange__text__Location">Menu</u>
                                <p class="menu-title-currency">Currency</p>
                                <div class="menu-title-custom-select" style="width:200px;">
                                    <select class="menu-title-select-selected">
                                      <option class="menu-title-select-items" value="USD">USD</option>
                                      <option class="menu-title-select-items" value="EUR">EUR</option>
                                      <option class="menu-title-select-items" value="UAH">UAH</option>
                                    </select>
                                  </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>